---
layout: main
title: "Projects"
---

<div class="contentitem">
	<h1 class="title">{{ page.title }}</h1>
	<div style="clear: both;">&nbsp;</div>
	<div class="contentitembody">
		<p>Here are some personal projects I've played around with over the years. I'll be gradually adding more things as I get round to it (And find stuff to add from old backups).<br /><br />
Most recently updated down to oldest:</p>
	</div>
</div>

{% for post in site.posts %}
	{% if post.layout == 'project_page' %}
	<div class="contentitem">
		<h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<p class="meta">Last updated: <span class="date">{{ post.date | date_to_string }}</span></p>
		<div class="contentitembody">
			<p>{{ post.description }}</p>
		</div>
	</div>
	{% endif %}
{% endfor %}
